<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <app-navbar></app-navbar>
    <section id="about" class="about">
        <div class="container mt-5" data-aos="fade-up">
  
          <div class="row gy-4" data-aos="fade-up">
            <div class="col-lg-4">
                <img src="/assets/inventory.jpg" alt="image" style="width: 30vw; height: 30vw;">
            </div>
            <div class="col-lg-8">
              <div class="content ps-lg-5">
                <h3>Welcome to Localshop inventory system</h3>
                <p>
                    Looking for an inventory management system to manage your inventory and not sure what the right solution is for your business?You’ve come to the right place. 
                    We have an amazing inventory management system to help you achieve major inventory management solutions for your business.
                </p>
                <ul style="list-style-type: none;">
                  <li><i class="bi bi-check-circle-fill"></i>Easy and fast record keeping </li>
                  <li><i class="bi bi-check-circle-fill"></i>Automated reports for every component </li>
                  <li><i class="bi bi-check-circle-fill"></i> Accurate and well-detailed visualized data for your business.</li>
                </ul>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      <section id="about" class="about">
        <div class="container mt-5" data-aos="fade-up">
  
          <div class="row gy-4 mt-5" data-aos="fade-up">
            <h3 class="text-center">Why Us</h3>
            <div class="col-lg-8">
                <div class="content ps-lg-5">
                  
                  <p>
                    The aim of our inventory management system is to help you keep track of your stock in the most seamless, efficient way. <br>That’s why we’ve got to make sure any prospective system has all the features you need to manage your inventory.
                  </p>
                  
                </div>
              </div>
            <div class="col-lg-4">
                <img src="/assets/graph1.jpg" alt="image" style="width: 30vw; height: 30vw;">
            </div>
            
          </div>
  
        </div>
      </section>
      
    <!-- <div class="container mt-3">
        <div class="row">
          <div class="col-6"><img src="/assets/inventory.jpg" alt="image" style="width: 40vw; height: 30vw;"></div>
         
      
          
        
      
          <div class="col-6 ">
              <h2>Local Shop Inventory System</h2>
              <p id="p">Looking for an inventory management system to manage your inventory and not sure what the right solution is for your business?
                  <br> You’ve come to the right place. 

                  <br>
                  We have an amazing inventory management system to help you achieve major inventory management solutions for your business.</p>
          </div>
         
        </div>
      </div> -->

   <!-- <div class="left" style="display:flex;flex-wrap:wrap">
    <img src="/assets/inventory.jpg" alt="image" style="width: 30vw; height: 20vw;">
    <div class="right">
        <h4>Welcome to Local shop inventory</h4>
    </div>
   </div> -->
   
    <app-footer></app-footer>
   
    
</body>
</html>