<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Local Shop</title> 
</head>
<body>
 <!-- <app-clerk></app-clerk> -->
  <router-outlet></router-outlet>   
  <!-- <app-landingpage></app-landingpage> 
  <app-login></app-login>
  <app-add-user></app-add-user> 
  <app-dashboard></app-dashboard> 
  <app-stores></app-stores> 
  <app-products></app-products>
  <router-outlet></router-outlet>
  <app-orders></app-orders>
  <app-defective-goods></app-defective-goods> -->
</body>
</html>