@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    
}
.container-fluid{
  height: 44vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form input {
  width: 400px;
  padding: 10px;
}


#submit-defective {
  background-color: #023047;
  padding: .8vw .8vw .8vw .8vw;
  color: #fff;
  border: none;
  border-radius: 2%;
}

/* defective-table */
#defective-thead {
  background-color: #023047;
  padding: 12vw 2vw 2vw 2vw;
  color: #fff;
  font-family: 'Poppins', sans-serif;

}

#defective-thead th {
  padding: 2vw 2vw 2vw 2vw;
}

#defective-table {
  border: 1px solid #c5c5c5;
}

#defective-tr td {
  padding: 2vw 2vw 2vw 2vw;
  font-family: 'Poppins', sans-serif;
}
