<app-navbar></app-navbar>
<div class="container mt-4 mb-5">
    <div class="row">
        <h4 align="center">All Stores</h4>
        <div class="col-md-4">
            <div class="card" style="background-color: #023047; color: #ffffff;">
                <div class="card-body">
                    <h6>Store Name: </h6>
                    <h6>Store Manager: </h6>  
                </div>
            </div> 
        </div>

        <div class="col-md-4">
            <div class="card" style="background-color: #023047; color: #ffffff;">
                <div class="card-body">
                    <h6>Store Name: </h6>
                    <h6>Store Manager: </h6>  
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="background-color: #023047; color: #ffffff;">
                <div class="card-body">
                    <h6>Store Name: </h6>
                    <h6>Store Manager: </h6>  
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
